{% extends 'base.html' %}
{% block title %}Quên mật khẩu{% endblock %}
{% block content %}
<div class="container auth-container">
    <h2 class="text-center mb-4 auth-title">Quên mật khẩu</h2>
    <div class="custom-form auth-form">
        <form method="POST" class="custom-form" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-4 input-group">
                <span class="input-group-text auth-icon"><i class="bi bi-envelope-fill"></i></span>
                {{ form.email(class="form-control auth-input", required=True, placeholder="Email") }}
                <div class="invalid-feedback">Vui lòng nhập email hợp lệ.</div>
            </div>
            {{ form.submit(class="btn btn-custom auth-btn w-100") }}
        </form>
    </div>
</div>
{% endblock %}